@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cormorant+Garamond:wght@300&family=Gilda+Display&family=Nanum+Myeongjo:wght@700;800&display=swap');

body {
    font-family: 'cormorant garamond', 'sans serif';
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

h4 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

/* *********NAVBAR********** */

nav {
    overflow: hidden;
    /* tout ce qui depasse sera caché */
    background-color:rgba(116, 78, 56, 0.959);
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

header li {
    float: right;
    font-size: 1.2em;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo {
    font-family: 'cinzel decorative';
    font-weight: bold;
    float: left;
}

/* ************IMAGE PRINCIPALE************* */


header div {
    min-height: 100vh;
    color: antiquewhite;
    text-align: center;
    background: url(/img/imagePrincipale.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    text-shadow: 1px 1px 4px rgb(11, 27, 1);
}

h1 {
    margin: 0;
    font-family: 'cinzel decorative';
    font-size: 150px;
}

#welcome {
    font-size: 1.2em;
    padding-top: 200px;
    padding-bottom: 0;
}

header button {
    margin-top: 20px;
    margin-bottom: 80px;
    width: 150px;
    height: 30px;
    font-family: 'cormorant garamond', 'sans serif';
    text-transform: uppercase;
    font-size: 0.8em;
}

/* *********PRESENTATION***************** */


#presentation {
    background-color: antiquewhite;
    color: rgba(46, 30, 7, 0.959);
    padding: 10px 0px 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#textIntro {
    width: 500px;
    padding: 30px 10%;
}

#textPresentation {
    margin-top: 100px;
}

#imagePresentation {
    width: 280px;
    height: 380px;
    padding: 50px 0;
}

/* *************CHAMBRES************** */
#roomsSection {
    background-color: #b9a580;
    height: 620px;

}

#accomodations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#accomodationsTitle {
    background-color: #b9a580;
    padding-bottom: 30px;

}

.rooms img {
    width: 100%;
    height: 300px;
    border: 0.05rem solid;

}

#accomodationsInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.roomsText {
    width: 290px;
    height: 160px;
    border: 0.05rem solid antiquewhite;
    padding-left: 10px;

}

#familySuite {
    background-color: antiquewhite;
    height: 600px;
    padding: 60px 100px 60px 30px;
    display: flex;
    flex-direction: row;
}

#familyImg img {
    /* padding-top: 60px; */
    margin-top: 80px;
    width: 450px;
    height: 380px;
}

#familyTitle {
    width: 300px;
    padding: 90px 30px;
}

#familyText {
    width: 40%;
    padding: 50px 200px 0 30px;
}

#suiteDescription {
    border: 0.05rem solid rgb(141, 138, 134);
    width: 450px;
    height: 80px;
}

/* ************RESTAURANT************** */

#restaurant {
    background-color: #b9a580;
    height: 600px;
}

#restaurant img {
    width: 300px;
    height: 200px;
    border: 0.05rem solid rgb(141, 138, 134);
}

#food {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#restaurantTitle {
    background-color: #b9a580;
    padding: 50px 0;
}

#restaurantInfos {
    width: 100%;
    height: 150px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.foodInfos {
    border: 0.05rem solid rgb(141, 138, 134);
    width: 300px;
    padding: 0 20px 0 20px;
}

/* ************PRESS***************** */

#press {
    background: url(/img/press.jpg) no-repeat 30% 70%;
    background-size: 100%;
    height: 700px;
 
}
#pressTitle{
    padding-top: 100px;
}
#content{
    width: 100%;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
}
/* **************FOOTER****************** */
footer{
    background-color: rgba(116, 78, 56, 0.959);
    color: antiquewhite;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
footer h3{
    margin: 0;
    padding-top: 50px;
}
footer button{
    width: 150px;
    height: 30px;
}
.contact{
    padding-top: 50px;
}