* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    padding-left: 15%;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(155, 155, 155);
}

h3 {
    color: rgb(90, 90, 90);
    font-weight: 300;
    font-size: 22px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* **************NAVBAR**************** */
/* .menuBurger {
    visibility: hidden;
} */

#navigation {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding-right: 15%;
}

nav a {
    /* background-color: red; */
    list-style-type: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(90, 90, 90);
    padding: 15px 15px;
}

/* *************MAIN********************* */
#photodiary,
#lifestyle,
#photography,
#music {
    width: 70%;
    margin: auto;
}

.category {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 200;
    color: rgb(90, 90, 90);
}

.para1 {
    padding: 0 20px;
}

.articles {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 50%;
    padding: 20px;
    ;
}

/* ************NEWSLETTER******************** */
#newsletter {
    background-color: rgb(233, 233, 233);
    height: 180px;
    color: rgb(90, 90, 90);
}

.subscribe {
    text-align: center;
    padding-top: 20px;
}

input {
    border: none;
    border-bottom: 2px solid rgb(90, 90, 90);
    background-color: rgb(233, 233, 233);
    padding: 2px 2px 7px 4px;
}

.btn {
    border: none;
    background-color: rgb(233, 233, 233);
    margin: 5px;
}

.btn:hover {
    transform: scale(1.3);
}

.plus {
    margin: 70px auto;
    font-size: 15px;
    background-color: rgb(233, 233, 233);
    color: rgb(90, 90, 90);
    width: 120px;
    height: 40px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 20px;
}

.plus:hover {
    cursor: pointer;
    background-color: white;
}

/* *************FOOTER**************** */

footer {
    background-color: rgb(233, 233, 233);
}

.footer {
    width: 70vw;
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.policy a {
    color: rgb(90, 90, 90);
    padding-right: 10px;
}

.follow {
    color: rgb(90, 90, 90);
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.follow a {
    color: rgb(90, 90, 90);
    padding: 10px;
}

/* ************MEDIA QUERIES *****************/

@media screen and (max-width:767px) {


    h1 {
        font-size: 20px;
    }

    #navigation {
        display: flex;
        justify-content: space-evenly;
    }

    nav a {
        font-size: 8px;
        padding: 5px;

    }

    article {
        width: 100%;
    }

    footer {
        font-size: 10px;
    }

    .follow {
        padding: 0;
    }

}